<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{% block titulo %} Título padrão {% endblock %}</title>
    {% block style %} {% endblock %}
</head>
<body>
    <header>
        <div id="cabecalho-container">
            <h1>📝 Tarefas</h1>
            <nav>
                <a href="{% url 'home' %}">Tarefas</a>
                <a href="{% url 'adicionar' %}">Adicionar</a>
                <a href="{% url 'buscar' %}">Buscar</a>
            </nav>
            <div id="user-info">
                {% if user.is_authenticated %}
                    <span>Olá, {{user.username}}</span>
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Sair</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Entrar</a>
                {% endif %}
            </div>
        </div>
    </header>
    {% block corpo %}

    {% endblock %}
    
    <script>
        document.addEventListener('mousemove', (e) => {
            const x = (e.clientX / window.innerWidth) * 100;
            const y = (e.clientY / window.innerHeight) * 100;
            document.documentElement.style.setProperty('--mouse-x', x + '%');
            document.documentElement.style.setProperty('--mouse-y', y + '%');
            document.body.style.setProperty('--mouse-x', x + '%');
            document.body.style.setProperty('--mouse-y', y + '%');
        });
    </script>
</body>
</html>