<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{% block titulo %} Título padrão {% endblock %}</title>
    {% block style %} {% endblock %}
</head>
<body>
    <header>
        <div id="cabecalho-container">
            <h1>Tarefas</h1>
            <nav>
                <a href="/tarefas">Tarefas</a>
                <a href="/tarefas/adicionar">Adicionar</a>
            </nav>
        </div>
    </header>
    {% block corpo %}

    {% endblock %}
</body>
</html>