<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{% block titulo %} Título padrão {% endblock %}</title>
    {% block style %} {% endblock %}
</head>
<body>
    <header>
        <div id="cabecalho-container">
            <h1>Tarefas</h1>
            <nav>
                <a href="{% url 'home' %}">Tarefas</a>
                <a href="{% url 'adicionar' %}">Adicionar</a>
            </nav>
            <div>
                {% if user.is_authenticated %}
                    <p> Olá, {{user.username}} </p>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Sair</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Entrar</a>
                {% endif %}
            </div>
        </div>
    </header>
    {% block corpo %}

    {% endblock %}
</body>
</html>