{% extends 'tarefas/base.html' %}

{% block titulo %}Home - Tarefas{% endblock %}

{% block style %} 
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}"> 
{% endblock %}

{% block corpo %}
    <h1>Home</h1>
    {% if tarefas %}

        {% for tarefa in tarefas %}
            <div class="tarefa-container">
                <h3>
                    <a href="{% url 'individual' tarefa.id %}">{{ tarefa.titulo }}</a> - 
                    {% if tarefa.concluida %}
                        Concluída
                    {% else %}
                        Não concluída
                    {% endif %}
                </h3>
                <hr/>
                <div>
                    <span>Autor: {{ tarefa.usuario.username }}</span></br>
                    <span>Bio: {{ tarefa.usuario.perfil.bio }}</span>
                </div>
                <div>  </div>

                {% for etiqueta in tarefa.etiquetas_lista %}
                    <div style="display: inline-block; margin-top: 5px; margin-right: 5px; padding: 5px; border-radius:5px; background-color: {{ etiqueta.cor }};">Etiqueta: {{ etiqueta.nome }}</div>
                {% endfor %}
            </div>
        {% endfor %}

    {% else %}
        <p>Não existe tarefas cadastradas...</p>
    {% endif %}
{% endblock %}

