{% extends 'tarefas/base.html' %}

{% block titulo %}Home - Tarefas{% endblock %}

{% block style %} 
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}"> 
{% endblock %}

{% block corpo %}
    <h1>Home</h1>
    {% if tarefas %}

        {% for tarefa in tarefas %}
            <h3>
                <a href="{% url 'individual' tarefa.id %}">{{ tarefa.titulo }}</a> - 
                {% if tarefa.concluida %}
                    Concluída
                {% else %}
                    Não concluída
                {% endif %}
            </h3>
            <hr/>
        {% endfor %}

    {% else %}
        <p>Não existe tarefas cadastradas...</p>
    {% endif %}
{% endblock %}

