<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Página não encontrada</title>
</head>
<body>
    <h1>ATENÇÃO</h1>
    <h2>Página não encontrada!</h2>
    <h3>Você entrou em uma página inexistente...</h3>
    <a href="{% url 'home' %}">Voltar para home</a>
</body>
</html>